<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<select id="getAllUsr" resultType="com.acs.csoon.vo.UsrInfo" flushCache="false" useCache="true">
		<![CDATA[
			SELECT usr_id AS usrId, 
				   usr_name AS usrName, 
				   usr_pwd AS usrPwd 
		      FROM usr_info
		]]>
	</select>
	
	<update id="updateUsr" parameterType="com.acs.csoon.vo.UsrInfo" flushCache="true">
		<![CDATA[
			UPDATE usr_info SET usr_pwd = #{usrPwd} WHERE usr_id = #{usrId}
		]]>
	</update>
	
	<insert id="insertUsr" parameterType="com.acs.csoon.vo.UsrInfo" flushCache="true">
		<![CDATA[
			INSERT INTO usr_info VALUES (#{usrId}, #{usrName}, #{usrPwd});
		]]>
	</insert>

</mapper>